html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #484848;
}

@media only screen and (max-width: 1030px) {
  html {
    font-size: 16px;
  }
}

body {
  width: 100%;
}

h1 {
  font-size: 3.3rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 1rem 0;
}

p {
  margin: 8px 0;
  line-height: 1.3;
}

header {
  height: 64px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-spacing {
  position: relative;
  top: 64px;
}

.desktop-padding {
  margin: 0 24px;
}

header .desktop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop-logo {
  display: flex;
  align-items: center;
}

.desktop-logo span {
  font-size: 1.7rem;
  margin-left: 10px;
  color: black;
}

.desktop-logo img {
  height: 32px;
  width: auto;
}

.desktop nav ul li {
  display: inline-block;
  margin-left: 1rem;
}

li a {
  text-decoration: none;
  color: #484848;
}

li a:hover {
  text-decoration: underline;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 740px) {
  header .mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  header .mobile img {
    height: 32px;
    width: auto;
    margin-top: 6px;
    display: inline-block;
  }
  header .desktop {
    display: none;
  }
}

/* Second Row Banner */

.second-row {
  display: flex;
  align-items: center;
  background-color: lightgray;
}

.second-row img {
  margin: 32px 24px;
  width: 60%;
  height: auto;
}

.second-row .call-to-action {
  margin-right: 24px;
}

button {
  width: 100%;
  background-color: #484848;
  padding: 8px;
  color: white;
  font-size: 1.5rem;
}

@media only screen and (max-width: 740px) {
  .second-row {
    flex-wrap: wrap;
  }
  .second-row img {
    width: 100%;
    margin: 0;
  }
  .second-row .call-to-action {
    padding: 16px;
    margin: 32px 0;
  }
  button {
    background-color: gray;
    font-weight: bold;
  }
}

/* Third Row */

.third-row {
  display: flex;
}

.left-column {
  background-color: pink;
  padding: 32px 24px;
  width: 60%;
  display: inline-block;
}

.left-column img {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 32px;
}

.left-column h1 {
  margin-bottom: 24px;
}

.right-column {
  background-color: yellow;
  width: 40%;
}

.right-column .highlight {
  border: 1px solid gray;
  border-right: none;
  border-top: none;
  padding: 16px 16px 14px;
  display: flex;
  align-items: center;
}

.right-column .highlight:hover {
  background-color: lightgray;
}

.highlight ._image {
  display: inline-block;
  padding: 0;
  width: 35%;
  overflow: hidden;
  margin-right: 16px;
}

.highlight ._image img {
  height: auto;
  width: 100%;
}

.highlight ._text {
  display: inline-block;
  width: 65%;
}

.highlight ._text h2 {
  margin: 0;
}

.footnote {
  font-size: 0.7rem;
  margin-top: 16px;
}

a.footnote {
  color: blue;
  text-decoration: none;
}
