html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #484848;
}

body {
  width: 100%;
}

header {
  height: 64px;
  background-color: pink;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.desktop-padding {
  margin: 0 24px;
}

header .desktop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop-logo {
  display: flex;
  align-items: center;
}

.desktop-logo span {
  font-size: 1.9rem;
  margin-left: 10px;
  color: black;
}

.desktop-logo img {
  height: 32px;
  width: auto;
}

.desktop nav ul li {
  display: inline-block;
  margin-left: 1rem;
}

li a {
  text-decoration: none;
  color: #484848;
}

li a:hover {
  text-decoration: underline;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 740px) {
  header .mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  header .mobile img {
    height: 32px;
    width: auto;
    margin-top: 6px;
    display: inline-block;
  }
  header .desktop {
    display: none;
  }

}
